html{
    font-size: 62.5%;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none; outline: none; border: none;
    font-family: 'Poppins', sans-serif;
}

body{
    max-height: 100vh;
}

main{
    background-color: #1f2937;
    padding: 1rem 9%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: #f9faf8;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 1rem 0;
    cursor: pointer;
}

header ul li{
    list-style: none;
    display: inline-block;
    margin-left: 4rem;
}

header ul li a{
    font-size: 1.6rem;
    color: #f9faf8;
}

header ul li a:hover{
    opacity: .7;
}

.home{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 6rem 0;
}

.home .content h1{
    font-size: 4rem;
    color: #f9faf8;
    line-height: 6rem;
    margin: 2rem 0;
}

.home .content p{
    font-size: 1.6rem;
    color: #f9faf8;
    margin: 2rem 0;
    line-height: 2.2rem;
}

button{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: #f9faf8;
    background-color: #3882f5;
    border-radius: 1rem;
}

.image{
    max-width: 50%;
}

.heading{
    font-size: 4rem;
    color: #1f2937;
    font-weight: 900;
    margin: 7rem 0;
    text-align: center;
}

.box-container{
    margin: 4rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    gap: 3rem;
}

.box-container .box{
    flex: 1;

}

.box .iconify{
    font-size: 5rem;
    font-weight: bold;
    color: #1f2937;
    margin: 2rem 0;
}

.box p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #1f2937;
    opacity: .7;
}

.quote{
    max-width: 100vw;
    max-height: 40rem;
    padding: 5rem 0;
    background-color: #e5e7eb;
}

.quote h1{
    font-size: 3rem;
    margin: 2rem 20%;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    padding: 5rem 0 3rem;
}

.quote p{
    font-size: 1.6rem;
    text-align: right;
    margin: .6rem 20%;
}

.cta{
    background-color: #3882f5;
    width: 50%;
    border-radius: 1.5rem;
    height: 15rem;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta .content{
    margin-left: 4rem;
}

.cta .content h1{
    font-size: 2.5rem;
    color: #fff;
}

.cta .content p{
    font-size: 1.8rem;
    color: #fff;
    margin: 1rem 0;
}

button.btn{
    border: .2rem solid #fff;
    margin-right: 4rem;
}


.footer{
    height: 7rem;
    background-color: #1f2937;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}